<ion-view>
 <ion-content>
<div class="list list-inset">
<h5 style="font-size:3vmax">Add Balance</h5>
  <label class="item login item-input">

    <input type="text" placeholder="Enter UserId" ng-model="transferDetails.RecieverId">
  </label>
  <label class="item  login item-input">
    <input type="number" placeholder="Enter Amount" ng-model="transferDetails.Amount">
  </label>
  
   <button class="button sButton button-block button-stable" ng-click="transferMoney(transferDetails)">
    Add Balance
   </button>
</div>
 </ion-content>
  </ion-view>