<ion-view>
<ion-nav-bar id="mainNav" >
        <ion-nav-back-button class="button-stable ">
            <i class="icon ion-ios-arrow-back"></i>Back
        </ion-nav-back-button>
    </ion-nav-bar>
 <ion-content>
<div class="list list-inset">
<h5 style="font-size:25px;text-align:center">Add Balance</h5>
  <label class="item login item-input">

    <input type="text" placeholder="Enter UserId" ng-model="transferDetails.RecieverId">
  </label>
  <label class="item  login item-input">
    <input type="tel" placeholder="Enter Amount" ng-model="transferDetails.Amount">
  </label>
  
   <button class="button sButton button-block button-stable" ng-click="transferMoney(transferDetails)">
    Add Balance
   </button>
</div>
 </ion-content>
  </ion-view>