<ion-view>
 <ion-content>
<div class="list list-inset">

  <label class="item login item-input">
    <input type="text" placeholder="Enter Buisness Name">
  </label>
  <label class="item  login item-input">
    <input type="text" placeholder="Enter Mobile Number">
  </label>
  <label class="item  login item-input">
    <input type="text" placeholder="Enter Email Address">
  </label>
  
   <button class="button sButton button-block button-stable">
   Submit
   </button>
</div>
 </ion-content>
  </ion-view>