<ion-view>
   <ion-content>
<div class="list list-inset" >
<h5 style="font-size:3vmax">Change Password</h5>
  <label class="item login item-input">
    <input type="password" ng-model="newpwd.oldpassword"placeholder="Enter Old Password">
  </label>
  <label class="item  login item-input">
    <input type="password" ng-model="newpwd.newpassword" placeholder="Enter New Password">
  </label>
  <label class="item  login item-input">
    <input type="password" ng-model="newpwd.cnewpassword"placeholder="Confirm New Password">
  </label>
   <button type="submit" class="button sButton button-block button-stable" ng-click="changePassword(newpwd)">
    Submit
   </button>
</div>
</ion-content>
</ion-view>
