<ion-view>
<ion-nav-bar id="mainNav" >
        <ion-nav-back-button class="button-stable ">
            <i class="icon ion-ios-arrow-back"></i>Back
        </ion-nav-back-button>
    </ion-nav-bar>
   <ion-content>
<div class="list listView list-inset" >
<h5 style="font-size:3vmax;text-align:center">Change Password</h5>
  <label class="item login item-input">
    <input type="password" ng-model="newpwd.oldpassword"placeholder="Enter Old Password">
  </label>
  <label class="item  login item-input">
    <input type="password" ng-model="newpwd.newpassword" placeholder="Enter New Password">
  </label>
  <label class="item  login item-input">
    <input type="password" ng-model="newpwd.cnewpassword"placeholder="Confirm New Password">
  </label>
   <button type="submit" class="button sButton button-block button-stable" ng-click="changePassword()">
    Submit
   </button>
</div>
</ion-content>
</ion-view>
