<ion-view>
 <ion-content>
<div class="list list-inset">
<h5 style="font-size:3vmax">Change Password</h5>
  <label class="item login item-input">
    <input type="text" placeholder="Enter Old Password">
  </label>
  <label class="item  login item-input">
    <input type="text" placeholder="Enter New Password">
  </label>
  <label class="item  login item-input">
    <input type="text" placeholder="Confirm New Password">
  </label>
   <button class="button sButton button-block button-stable">
    Submit
   </button>
</div>
 </ion-content>
  </ion-view>