<ion-view ng-controller="retailerHomeCtrl">
    <ion-header-bar class="sub-head bar-assertive">
        <div class="buttons">
            <button ng-click="myGoBack()" style="color: white;" ng-click="logout()" class="button">
                <i class="ion-arrow-left-c"></i>
                Back
            
            
            
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="mainHomeDiv">
            <div class="list inner-mainHomeDiv">
                <div class="item homeIconOptionsDiv">
                    <div ng-repeat="items in dthRecharge">
                        <div class="row" ng-if="$index%3==0">
                            <div style="position:relative;" class="col col-33 col-center">
                                <a class="element" ng-click="mobilRecg('dth', dthRecharge[$index].name ,dthRecharge[$index].id)">
                                    <div class="iconDiv">
                                        <img src="{{dthRecharge[$index].src}}"></img>
                                    </div>
                                    <div class="icon_text">{{dthRecharge[$index].name}} </div>
                                </a>
                            </div>
                            <div style="position:relative;" class="col col-30 col-center">
                                <a class="element" ng-if="dthRecharge[$index+1]!=undefined" ng-click="mobilRecg('mobile', dthRecharge[$index+1].name ,dthRecharge[$index+1].id)">
                                    <div class="iconDiv">
                                        <img src="{{dthRecharge[$index+1].src}}"></img>
                                    </div>
                                    <div class="icon_text">{{dthRecharge[$index+1].name}} </div>
                                </a>
                            </div>
                            <div style="position:relative;" class="col col-30 col-center">
                                <a class="element" ng-if="dthRecharge[$index+2]!=undefined" ng-click="mobilRecg('mobile', dthRecharge[$index+2].name ,dthRecharge[$index+2].id)">
                                    <div class="iconDiv">
                                        <img src="{{dthRecharge[$index+2].src}}"></img>
                                    </div>
                                    <div class="icon_text">{{dthRecharge[$index+2].name}} </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <ul class="list ">
            <li class="item masterDelerList" ng-repeat="dth in dthRecharge" ng-click="mobilRecg('DTH',dth.name,dth.id)">
                <img src={{dth.src}} class="rechargeImg"></img>
                <i class="icon arrow ion-chevron-right"></i>
                <p style="">{{dth.name}} </p>
            </li>
        </ul>
     -->
    </ion-content>
</ion-view>
