<ion-view title="Uttam Telecom">
    <div id="login-bg"></div>
    <ion-content ng-controller="loginCtrl" style="overflow:hidden;">
        <div class="loginDiv">
       <!--     <h5 style="font-size:25px;text-align:center">Login</h5>  -->
            <form name="loginForm">
                <div>
                    <input type="text" id="uname" placeholder="UserName" ng-model="login.Uname">
                </div>
                <div>
                    <input type="password" id="pwd" placeholder="Password" ng-model="login.Pwd">
                </div>
                <button type="submit" class="button login" ng-click='loginSub(user)'>Login</button>
                <a style="color:white;" href=""ng-click="model1.show()">Forgot passsword?</a>
            </form>

        </div>
       
 

    </ion-content>
</ion-view>
