<ion-view>
<ion-nav-bar id="mainNav" >
        <ion-nav-back-button class="button-stable ">
            <i class="icon ion-ios-arrow-back"></i>Back
        </ion-nav-back-button>
    </ion-nav-bar>
 <ion-content>
<div class="list list-inset">
<h5 style="font-size:25px">From Date:</h5>
  <label class="item  login item-input">
  
    <input type="date" placeholder="Select From Date">
  </label>
  <h5 style="font-size:25px">To Date:</h5>
  <label class="item  login item-input">
  
    <input type="date" placeholder="Select To Date">
  </label>
   <button class="button sButton button-block button-stable"  ng-click="rechargeReport()">
    Send
   </button>
</div>
 </ion-content>
  </ion-view>