<ion-view>
 <ion-content>
<div class="list list-inset">
<h5 style="font-size:3vmax">Revert Balance</h5>
  <label class="item login item-input">
    <input type="text" placeholder="Enter UserId">
  </label>
  <label class="item  login item-input">
    <input type="text" placeholder="Enter Amount">
  </label>
  <label class="item  login item-input">
    <input type="text" placeholder="OTP">
  </label>
  
   <button class="button sButton button-block button-stable">
   Revert Balance
   </button>
</div>
 </ion-content>
  </ion-view>