/*
#loginForm{
   text-align:Left;
   padding:0;
   margin-top:25%;
}
.login{
  margin-top:5vmin;
    margin-bottom:10vmin;
    margin-left:15% !important;
    width:72vw;
    border-style: ridge;
    border-width:1vmin;
    font-size:2vmax;
    
}
*/

.loginDiv {
  height:100%;
}

#login-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: url(http://lorempixel.com/800/500/nature) no-repeat center center fixed; */
  /* background: url(../img/background6.jpg) no-repeat center center fixed; */
  background-color: #d3d3d3;
  background-size: cover;
}

.loginDiv form {
  position: relative;
  width:270px;
  margin: 20vh auto;
  background: grey;
  padding: 20px 22px;
  border: 1px solid;
  border-top-color: rgba(255,255,255,.4);
  border-left-color: rgba(255,255,255,.4);
  border-bottom-color: rgba(60,60,60,.4);
  border-right-color: rgba(60,60,60,.4);
  border-radius: 1vh;
}

.loginDiv form input, .loginDiv form button {
  width: 222px;
  border: 1px solid;
  border-bottom-color: rgba(255,255,255,.5);
  border-right-color: rgba(60,60,60,.35);
  border-top-color: rgba(60,60,60,.35);
  border-left-color: rgba(80,80,80,.45);
  background-color: white;
  background-repeat: no-repeat;
  margin: 1vh auto;
  padding: 5px 24px 8px 10px; 
  font: bold .875em/1.25em "Open Sans Condensed", sans-serif;
  letter-spacing: .075em;
  color: #000;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  border-radius: 1vh;
}

.loginDiv form input:focus { border-color:skyblue; }
/*
 .loginDiv form input#uname {
  background-image: url(../img/user1.png);
  background-position: 200px 10px;
  
}

.loginDiv form input#pwd {
  background-image: url(../img/lock.png);
  background-position: 200px 8px
}
*/

.loginDiv .login:hover{
   border-color:orange;
}


.Button{
   margin-top:10% !important;
   margin-left:15% !important;
   font-size:15px;
   background:grey !important;
   color:white !important;
   height:6vmax !important;
   width:72vw !important;
}

.Button:hover{
  background:orange !important;  
}

.logintextArea{
  width:72vw!important;
  height:20vmax !important;
  border-style: ridge;
  border-width:1vmin;
  margin-left:15% !important;
}
.logintextArea:hover{
   border-color:orange ;
}
.arrow{

  float:right;
  font-size: 3vmax;
  padding:2vmax;
}
.ionIcon{
  float:left;
  font-size: 4vmax;
  padding-left:3vmax;
  padding-right:2vmax;
  padding-top:2vmax;
  padding-bottom:2vmax;
}

.sel{
  
    width:72vw;
    border-style: ridge;
    border-width:1vmin;
    font-size:2vmax;
    height:8vh;
     margin-left:15% !important;
}
.datedisplayfont{
  font-size:2.5vh !important;
  font-weight:bold;
  padding:0.9vh;
  background:rgba(17, 193, 243, 0.1);
  margin:0 !important;
}
.datedisplayinnerfont{
  font-weight:normal;
  font-size: 15px;
}

.inner-mainHomeDiv a.profileDiv {
  width:100%;
}
.inner-mainHomeDiv .balanceDiv {
  height:34vh;
  text-align:center;
  background-image: url(../img/DarkBackground.jpg);
  padding-top: 5vh;
}

.inner-mainHomeDiv .balanceDiv h1, .inner-mainHomeDiv .balanceDiv h2{ 
  color:white;
  padding:auto;
  margin:2vh auto;
}


.homeIconOptionsDiv {
  padding:0;
}

.inner-mainHomeDiv .col.col-center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center; 
    justify-content: center;
    
    border-right:1px solid #e6e0e0;
    border-bottom:1px solid #e6e0e0;
    width:1vw;
    height:22vh;
    background-color:transparent;
}


.homeIconOptionsDiv:last-child {
  border-bottom:0;
}

.inner-mainHomeDiv .icon_text {
  text-shadow:3px 3px 4px rgba(0, 0, 0, 0.3);color:black;
  margin:2vmin;
  font-size: 4vmin;
  width: 100px; 
  word-wrap: break-word;
  white-space: initial;
}

.inner-mainHomeDiv .iconDiv {
  width:28vmin;
  margin:auto;
  overflow:hidden;
  height:auto;
  text-align:center;
}
.inner-mainHomeDiv .icon_utility{
    text-shadow:3px 3px 4px rgba(0, 0, 0, 0.3);color:black;
  margin:2vmin;
  font-size: 4vmin;
  width: 200px; 
  word-wrap: break-word;
  white-space: initial;
}

.inner-mainHomeDiv .iconDiv i.icon{
   width:auto;
   height:20vmin;
   margin:auto;
   font-size:35px;
}

.inner-mainHomeDiv .row {
  padding:0;

}

.iconDiv img {
   width:auto;
   height:10vh;
}

/*
 .inner-mainHomeDiv .button-circle {
  padding:0;
  margin:0;
}

.inner-mainHomeDiv .button-circle i{ 
   padding:0;
   margin:0;

}
*/

.element { 
    text-align:center;
}


.button-float {
  background-color: transparent;
  color:red;
  z-index: 12 !important;
  position: absolute !important;
  right: 20px !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
}

.retailerHomeView .ion-drag, .masterDealerHomeView .ion-drag{
  font-size: 30px;
 
}

.retailerMenuPopover {
  background-color: transparent;
}
.retailerMenuPopover ul{
   width: 100%;
   height:100%;
   background-color: grey;
}

.retailerMenuPopover ul li{ 
   padding:2vh; 
   text-align: center;
   color: white;
   background-color: transparent;
}
.remeberMe{
 margin:1vh;
}
.rechargeImg{
  width:40px;
  float:left;
  padding:1vmin;
  text-align:center;

}
.arrow{
  float:right;
  font-size: 3vmax;
  padding:2vmax;
}