#loginForm{
   text-align:Left;
   padding:0;
   margin-top:25%;
}
.login{
  margin-top:5vmin;
    margin-bottom:10vmin;
    margin-left:15% !important;
    width:72vw;
    border-style: ridge;
    border-width:1vmin;
    font-size:2vmax;
    
}
.login:hover{
   border-color:orange;
}
.sButton{
   margin-top:10% !important;
   margin-left:15% !important;
   font-size:2vmax;
   background:grey !important;
   color:white !important;
   height:6vmax !important;
   width:72vw !important;
}
.sButton:hover{
  background:orange !important;  
}
.masterDelerList{
  background: linear-gradient(white, rgba(182, 248, 255, 0.57), #add9e6);
  height:15vmin;
  padding-bottom:0 !important;
  padding-Left:0 !important;
  padding-right:0 !important;
  border-color:grey;
  padding-top:1vmin !important;
}
.masterDelerList:hover{
 background-color:rgba(230, 173, 229, 0.62) !important;
}
.masterDelerList>p{
    font-size:5.5vmin;
    height:100%!important;
    padding:1vh;
    margin-left:25%;
}
.logintextArea{
  width:65vw!important;
  height:20vmax !important;
  border-style: ridge;
  border-width:1vmin;
}
.logintextArea:hover{
   border-color:orange ;
}
.arrow{

  float:right;
  font-size: 3vmax;
  padding-right:2vmax;
}
.ionIcon{
  float:left;
  font-size: 4vmax;
  padding-left:1vmax;
  padding-right:1vmax;
}
.rechargeImg{
  width:12vmin;
  float:left;
  padding:1vmin;
  text-align:center;

}
.sel{
  
    width:65vw;
    border-style: ridge;
    border-width:1vmin;
    font-size:2vmax;
    height:8vh;
}
